{% extends 'helpdesk/html.html' %}
{% load static %}

{% block content %}
    <div class="mdl-grid container" ng-controller="TicketListController">
        <div class="mdl-cell mdl-cell--12-col">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3" ng-model="query">

                    <label class="mdl-textfield__label" for="sample3">Text...</label>
                </div>
            </form>

            {% verbatim %}
            <p>
                Show all tickets where assignee is

                <select ng-model="assigneeFilter">
                    <option ng-repeat="assignee in assignees" value="{{ assignee.id }}">{{ assignee.full_name }}</option>
                </select>, state is

                <select ng-model="stateFilter">
                    <option ng-repeat="state in states" value="{{ state.machine_name }}">{{ state.title }}</option>
                </select> and project is

                <select ng-model="projectFilter">
                    <option ng-repeat="project in projects" value="{{ project.machine_name }}">{{ project.title }}
                    </option>
                </select>.

                Order by <select ng-model="orderProp">
                <option value="-priority">Priority</option>
                <option value="-updated">Update time</option>
                <option value="title">Title</option>
            </select>
            </p>
            {% endverbatim %}

            {% verbatim %}
            <issue-card ng-repeat="ticket in tickets" state="{{ ticket.state.machine_name }}">
                <a href="tickets/{{ ticket.id }}/"> HD-{{ ticket.id }} <span>{{ ticket.title }}</span> </a>

                <p>
                    Assigned to <span class="label label--info">{{ ticket.assignee.full_name }}</span>. Updated on
                    <strong>{{ ticket.updated | date:'short' }}</strong>. <span class="label label--info"
                                                                                ng-if="ticket.customer">{{ ticket.customer }}</span>
                </p>
            </issue-card>
            {% endverbatim %}

        </div>
    </div>
    {#    <div class="row">#}
    {#        <div class="col-sm-4 col-sm-push-8">#}
    {#            <div class="panel panel-primary">#}
    {#                <div class="panel-heading">#}
    {#                    <h3 class="panel-title">Filters</h3>#}
    {#                </div>#}
    {#                <div class="panel-body">#}
    {#                    <form method="post">#}
    {#                        {% csrf_token %}#}
    {#                        {% bootstrap_form filter_form %}#}
    {#                        {% bootstrap_button 'Apply' button_type='submit' %}#}
    {#                    </form>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-sm-8 col-sm-pull-4">#}
    {#            <div class="row">#}
    {#                <div class="col-xs-12">#}
    {#                    <form class="row search-form">#}
    {#                        <div class="col-lg-8 col-xs-6">#}
    {#                            {% bootstrap_field search_form.search layout='inline' %}#}
    {#                        </div>#}
    {#                        <div class="col-lg-2 col-xs-3">#}
    {#                            {% bootstrap_button 'Search' button_type='submit' button_class='btn-xs btn-block' %}#}
    {#                        </div>#}
    {#                        <div class="col-lg-2 col-xs-3">#}
    {#                            <a href="?" class="btn btn-xs btn-default">Reset</a>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}
    {#            </div>#}
    {#            {% include list_template %}#}
    {#            <div class="text-center">#}
    {#                {% bootstrap_pagination page_obj extra=extra %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}
