<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="helpdeskApp">
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-green.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="{% static 'helpdesk/css/helpdesk.css' %}"/>

    <script>
        var ME = {
            id: {{ request.user.pk }},
            full_name: 'me ({{ request.user.get_full_name }})'
        };
    </script>

    {% block init %}{% endblock %}

    <script src="{% static 'angular/angular.js' %}"></script>
    <script src="{% static 'angular-sanitize/angular-sanitize.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'helpdesk/js/app.js' %}"></script>
    <script src="{% static 'helpdesk/js/services.js' %}"></script>
    <script src="{% static 'helpdesk/js/controllers.js' %}"></script>
    <script src="{% static 'helpdesk/js/components.js' %}"></script>

    {% block head %}{% endblock %}
    {% block title %}<title>HelpDesk</title> {% endblock %}
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">HelpDesk</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Link</a>

                <a class="mdl-navigation__link" href="">Link</a>

                <a class="mdl-navigation__link" href="">Link</a>

                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>

            <a class="mdl-navigation__link" href="">Link</a>

            <a class="mdl-navigation__link" href="">Link</a>

            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">{% block content %}{% endblock %}</div>
    </main>
</div>

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>#}
</body>
</html>