<link rel="import" href="/static/materialdjango/components/bower_components/polymer/polymer.html">
<link rel="import" href="/static/materialdjango/components/bower_components/iron-dropdown/iron-dropdown.html">

<dom-module id="helpdesk-filters">
    <template>
        <style>
        </style>

        <paper-dropdown-menu label="Your favourite pastry">
            <paper-menu class="dropdown-content">
                <paper-item>Croissant</paper-item>
                <paper-item>Donut</paper-item>
                <paper-item>Financier</paper-item>
                <paper-item>Madeleine</paper-item>
            </paper-menu>
        </paper-dropdown-menu>
    </template>

    <script>
        Polymer({
            is: "helpdesk-filters",
            ready: function () {

            }
        });
    </script>
</dom-module>