@import "colors";

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

body {
  background: $grey-100;
  font-family: 'PT Sans', sans-serif;
}

.label {
  padding: 2px 4px;
  display: inline-block;
  border-radius: 2px;

  &--info {
    color: white;
    background: $indigo-500;
  }
}

.state--resolved:before, .state--open:before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
}

.state--resolved {
  color: $muted;

  &:before {
    background: $state-resolved;
  }
}

.state--open:before {
  background: $state-open;
}

.card-issue {
  width: 100%;
  min-height: 0;
  position: relative;

  &__content {
    padding: 16px;
  }
}

.card-issue__ticket {
  @extend .card-issue__content;
}

.card-issue__comment {
  @extend  .card-issue__content;
}

.ticket__title {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.ticket__id {
  color: $indigo-500;
}

.comment--user {
  background: $indigo-50;
}

.comment__title {
  font-weight: bold;
  margin: 0;
}

.comment__email {
  font-weight: normal;
  color: $grey-500;
}

.comment__info {
  font-size: small;
  color: $grey-500;
}

.container {
  max-width: 960px;
}
