.customer-label {
  color: #3F51B5;
  font-weight: bold;
}

.ticket-created {
  font-size: small;
  font-style: italic;
  color: #7986CB;
}

.ticket-info {
  background: #C5CAE9;
  padding: 8px;

  &--client {
    text-align: right;
    background: #B2DFDB;

    .customer-label {
      color: #004D40;
    }

    .ticket-created {
      color: #009688;
    }
  }
}

.comment-info {
  padding: 8px;
}